body {
  background: #F5F5F5;
  font: 18px/1.5 sans-serif;
}

h1,
h2 {
  line-height: 1.2;
  margin: 0 0 .5em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 21px;
  margin-bottom: 1em;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #0000F0;
}

.paddingTop {
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

code {
  background: #F5F5F5;
  max-width: 100px;
  padding: 2px 6px;
  word-wrap: break-word;
}

#wrapper {
  background: #FFF;
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
}

#container {
  padding: 2em;
}

#welcome,
#status {
  margin-bottom: 2em;
}

#welcome h1 span {
  display: block;
  font-size: 75%;
}

#icon-status,
#icon-book {
  float: left;
  height: 64px;
  margin-right: 1em;
  margin-top: -4px;
  width: 64px;
}

#icon-book {
  display: none;
}

@media (min-width: 768px) {
  #wrapper {
    width: 80%;
    margin: 2em auto;
  }
  #icon-book {
    display: inline-block;
  }
  #status a,
  #next a {
    display: block;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .sf-toolbar {
    opacity: 0;
    -webkit-animation: fade-in 1s .2s forwards;
    animation: fade-in 1s .2s forwards;
  }
}

.demoBtn {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}

.demoBtn:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.demoBtn:active {
  position: relative;
  top: 1px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 50%;
}

.select select {
  font-family: 'Arial';
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 11px 15px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #000000;
  background: #cccccc;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
  border-top-color: #000000;
}

.select select:disabled~.select_arrow {
  border-top-color: #cccccc;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table.blueTable tbody td {
  font-size: 13px;
}

table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}

table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/bundles/demo/Spinner-1s-200px.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   loader element will be visible */
body.loading .loader {
    display: block;
}

button:disabled {
  background: #d0e4f5;
}