<div id="weatherDetails">
    <p>Location: {{results['cityname']}}, {{results['countryName']}}<p>
    <p><img src="{{ asset('bundles/demo/sunrise.jpg') }}" alt="logo" class="" > Sunrise: {{results['sunrise']}}</p>
    <p><img src="{{ asset('bundles/demo/sunset.jpg') }}" alt="logo" class="" > Sunset: {{results['sunset']}}</p>
    <p>Longitude and Latitude: {{results['longitude']}}, {{results['latitude']}}<p>
</div>
<table class="blueTable">
   <tbody>
    	{% for result in results['forecastItems'] %}
      	<tr>
         	<td><p>From: {{result['from']}}<p>
         		<p>To: {{result['to']}}<p>
         	</td>
         	<td><p>Wind Direction: {{result['windDirection']}}<p>
         		<p>Wind Speed: {{result['windSpeed']}}<p>
         		<p>Temperature: {{result['temperature']}}<p>
         		<p>Pressure: {{result['pressure']}}<p>
         		<p>Humidity: {{result['humidity']}}<p>
         		<p>Clouds: {{result['clouds']}}<p>
         	</td>
      	</tr>
    	{% endfor %}
   </tbody>
</table>