{% extends 'base.html.twig' %}
{% block pagenewjs %}
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><img src="{{ asset('bundles/demo/logo.jpg') }}" alt="logo" class="" > Weather Forecast</h1>
            </div>

            <div id="status">
                <p>Your demo application is now ready.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select">
                <select id="country" size="1">
                    <option value="" selected="selected">-- Select Country --</option>
                    {% for country in countries %}
                        <option value="{{country.code}}">{{country.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select">
                <select id="city" size="1">
                    <option value="" selected="selected">-- Select City --</option>
                </select>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 paddingTop">
                <button id="generate" class="demoBtn" type="button">Generate Weather</button>
            </div>
            <div id="weatherTable" class="col-md-4 col-sm-6 col-xs-12 paddingTop">
            </div>

            <input type="hidden" name="pathURL" id="pathURL" value="{{ path('demo_get_cities_route') }}">
            <input type="hidden" name="generateURL" id="generateURL" value="{{ path('demo_get_weather_forecast_route') }}">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/demo/demo.css")|raw }}" >
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/demo/demo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/demo/jquery-3.4.1.min.js') }}"></script>
{% endblock %}